body {
  background-color: #a2d9ff;
}

.collapse a:hover {
  background-color: white;
  border-radius: 50px;
  color: black;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #007ef5;
}

.jumbotron .display-4 {
  font-size: xx-large;
  font-weight: 400;
}

.jumbotron p {
  font-weight: 500;
}

#history {
  background-color: #007ef5;
}
.row {
  align-items: center;
}

.cardbody {
  height: min-content;
}

.footer {
  background-color: rgb(72, 167, 255);
  text-align: center;
  padding: 5px 0;
}

